
@font-face {
	font-family: 'HalisR-Thin';
	src: local('☺'), url('../fonts/HalisR-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NobelWGL-Light';
	src: local('☺'), url('../fonts/NobelWGL-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'nobel-regular';
	src: local('☺'), 
    url('../fonts/nobel-regular.woff') format('woff'),
    url('../fonts/nobel-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nobel-ExtraLight';
	src: local('☺'), url('../fonts/Nobel-ExtraLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}




