*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #ffffff;
  --black-color: #000000;

  --fNobelRegular-font-family: 'nobel-regular',sans-serif;
  --fHalisThin-font-family: 'HalisR-Thin',sans-serif;
  --fYantramanav-font-family: 'Yantramanav', sans-serif;
 

}
body {
  font-family: "NobelWGL-Light", sans-serif;
}
.header {
  position: relative;
  min-height: 100vh;
}
.header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.video-bg {
  //   position: relative;
}
.header-video {
  object-fit: cover;
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.header-wrapper {
  padding-top: 37px;
  position: relative;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  transition: 1s;
}
//фиксируем меню при первом скроле
.fixed-menu{
  padding-top: 200px;
  transition: 1s;
  // position: fixed;
  // width: 87%;
  // top:190px;
  // transition: 1s;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-list {
  display: flex;
}
.menu-list-link {
  font-family: "HalisR-Thin";
  font-synthesis: none;
  color: #c2c0c0;
  margin-right: 50px;
  font-size: 19px;
  position: relative;
  transition: 0.5s;
  display: inline-block;
  line-height: 27px;
  &::before {
    position: absolute;
    width: 32px;
    height: 4px;
    background-color: var(--white-color);
    content: "";
    bottom: -7px;
    right: 22px;
    opacity: 0;
    transition: 1s;
  }
  &:hover::before {
    opacity: 1;
  }
  &:hover {
    transform: scale(1.2);
  }
}
.menu-list-link-size {
  margin-right: 0;
}
.img-logo {
  width: 63px;
  height: 77px;
  z-index: 3;
}
.header-title {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.025em;
  line-height: 1.2;
  // margin-bottom: 200px;
  transition: 1s;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 100%;

  h1 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 14px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 100px;
    letter-spacing: 13px;
  }
  p {
    font-size: 27px;
    font-weight: 100;
    letter-spacing: 5px;
  }
}
//прячем при прокрутки первого экрана
.hiden-title{
  opacity: 0;
  transition: 1s;
}
.header-user {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  position: relative;
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;

  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  max-width: 1550px;
  width: 100%;
}
.header-user-item {
  padding-left: 30px;
  padding-right: 30px;
}

.header-user-item-img {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &:nth-child(2) {
    justify-content: flex-end;
  }
}

.img-user {
  width: 54px;
  height: 57px;
}
.header-user-item-text {
  margin-left: 5px;
  margin-right: 5px;
  &:nth-child(1) {
    text-align: end;
  }
}
.logo-link {
  margin-left: 17px;
}
.header-text {
}
.header-user-item {
  &:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }
}
.img-scroll {
  width: 50px;
  height: 15px;
  position: absolute;
  left: calc(50% - 25px);
  bottom: -20px;
  animation: arrowDown 2s infinite;
}
@keyframes arrowDown {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: 0;
  }
  100% {
    bottom: -20px;
  }
}


.img-fullscreen{
  z-index: 99;
  position: absolute;
  fill: azure;
  width: 40px;
  bottom: 0;
  left: 60px;
  animation: sizeBtn 2s infinite;
  transition: 0.7s;
  cursor: pointer;
  // transform: scale(1.1);
}
@keyframes sizeBtn {
  0% {
    transform: scale(1.0);
    transition: 0.7s;
  }
  50% {
    transform: scale(1.4);
    transition: 0.7s;
  }
  100% {
    transform: scale(1.0);
    transition: 0.7s;
  }
}
.section-video-btn-two .img-fullscreen{
  bottom: 165px;
}
// .scroll-wrapper{
//     position: relative;
//     z-index: 2;
// }
.scroll {
  color: #fefefe;
  font-weight: 200;
  position: absolute;
  top: 95%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  p {
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-family: "Nobel-ExtraLight";
  }
}

.btn-play-wrapper{
  border: 3px solid #cac6c6;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
  transition: 0.7s;
  &:hover{
    border: 3px solid rgb(138, 138, 138);
  }
}
//прячем кнопку play при скроле первого экрана
.hiden-play{
  opacity: 0;
  transition: 0.7s;
  cursor: default;
}
.img-fullscreen-play{
  width: 55px;
  height: 55px;
  position: absolute;
  fill: #cac6c6;
  right: -4px;
  padding: 10px;
  &:hover{
    fill: rgb(138, 138, 138);
  }
}

//section info black

.info-section {
  background-color: var(--black-color);
  position: relative;
}
.info {
  height: 480px;
  // margin-top: 380px;
  // height: 663px;
  background-color: #000000;
  color: #d8d8d8;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.info-title {
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-top: 65px;
  padding-bottom: 54px;
  line-height: 1;
}

.info-subtitle {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 100;
  letter-spacing: 0.02em;
  width: 650px;
  text-align: center;
  font-family: "HalisR-Thin";
}
.info-subtitle, .info-title{
  opacity: 0;
  transition: 5s;
  
}
.info-hiden{
  opacity: 1;
  transition: 5s;
}

.section-video {
  position: relative;
  background-color: var(--white-color);
  position: sticky;
  z-index: 4;
  height: 118vh;
}
.video-item {
  object-fit: cover;
  // position: absolute;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
}
//secton buy-kaljan
.buy-kaljan {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 152px;
  padding-top: 140px;
}
.buy-kaljan-title {
  // padding-top: 110px;
  font-size: 22.2px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 40px;
  font-weight: 600;
}
.buy-kaljan-subtitle {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: 0.05em;
  margin-bottom: 12px;
  width: 755px;
  text-align: center;
  font-family: "HalisR-Thin";
}
.section-buy-kaljan {
  background-image: url("../images/section-slider-bg.png");
  // height: 120vh;
  position: relative;
  background-color: var(--black-color);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 183px;
}
.buy-kaljan-container {
  width: 1300px;
  // height: 100vh;
}
.kaljan-slider {
  // display: flex;
  // justify-content: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
  p {
    color: #a0a0a0;
    font-size: 20px;
    position: absolute;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
.block-slider{
  // position: relative;
  // width: 130px;
  width: 200px;
  height: 100px;
  position: absolute;
  right: 30px;
  top: 14px;
}

.text-left {
  left: 90px;
  font-family: "HalisR-Thin";
  font-size: 15px;
}

.text-right {
  right: 49%;
  font-family: "HalisR-Thin";
  font-size: 15px;
}

.slider-text {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.text-right {
}
//buy btn
.btn-buy-link {
  position: relative;
  color: var(--white-color);
  position: absolute;
  top: 17px;
  z-index: 4;
  right: 210px;
  &:hover{
    transform: scale(1.2);
    
  }
}
.btn-buy-red{
  &:hover{
    color:#940000;
  }
}
.btn-buy-green{
  &:hover{
    color:#7bc395;
  }
}
.btn-buy-blue{
  &:hover{
    color:#79a4b5;
  }
}
// .btn-text-buy{
//   &:hover{
//     transform: scale(1.2);
//   }
// }
.img-btn-buy {
  width: 85px;
  height: 95px;
}
.btn-text-buy {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;

  span {
    display: block;
    font-size: 16px;
    font-weight: 100;
  }
  .span-buy {
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 3px;
  }
}

//price
.btn-text-buy {
}
.price {
  // position: absolute;
  font-family: "nobel-regular";
  font-size: 35px;
  color: var(--white-color);
  // z-index: 1;
  // right: 21px;
  // top: 45px;

  // width: 120px;
}
.price-test{
  display: flex;
  // justify-content: center;
  height: 100px;
  align-items: center;
  margin-left: 30px;
}
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 8px 8px;
  border-color: transparent transparent #fcfcfc transparent;
  position: absolute;
  z-index: 22;
  right: 0;
  font-size: 14px;
  cursor: pointer;
}
.arrowUp {
  right: 0;
  left: 106px;
  top: 28px;
}
.arrowDown {
  top: 101px;
  transform: rotate(180deg);
  right: 78px;
}
.prise-wrapper {
  position: absolute;
  right: 0;
}
.prise-wrapper-arrows {
  position: absolute;
}
.price_item {
  position: absolute;
  right: 74px;
}
.img-price-icon{
  width: 30px;
  height: 30px;
  fill: var(--white-color);
  margin-right: -3px;
  margin-top: 7px;
}
//arrows
.buy-kaljan-button-prev,
.buy-kaljan-button-next {
  &::after {
    display: none;
  }
}
.svg-slider-arrows {
}
.buy-kaljan-button-prev {
  left: 187px;
}
.buy-kaljan-button-next {
  right: 219px;
}
.buy-kaljan-button-next,
.buy-kaljan-button-prev {
  top: 43%;
}

.buy-kaljan-button-next {
  right: 217px;
}
.buy-kaljan-button-prev {
  left: 186px;
}
//video slider buy reverse
.video-slider {
  // position: relative;
  // width: 488px;
  // height: 488px;
  display: flex;
  justify-content: center;
}
.video-slider-item {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  // top: 0;
  // left: 0;
   width: 488px;
  height: 488px;
}
.btn {
  // position: absolute;
  bottom: -100px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #7a7a7a;
  color: var(--white-color);
  font-size: 21.6px;

  text-transform: uppercase;
  letter-spacing: 8px;
  cursor: pointer;
  line-height: 18px;
  padding: 17px 136px;
  padding-top: 19px;
  margin-top: 40px;

  span {
    font-size: 16px;

    letter-spacing: 2px;
    text-transform: initial;
    display: inline-block;
    padding-top: 7px;
    font-family: "HalisR-Thin";
  }
}
//section-content-slider
.content-slider {
  background-color: var(--black-color);
  position: relative;
  display: flex;
  // height: 114vh;
  // padding-bottom: 200px;
  // flex-wrap: wrap;
  // height: 100vh;
  // align-items: center;
}
.content-slider-item {
  width: 50%;
  height: 100%;

  img {
    height: 100vh;
  }
}
.slider-content-wrapper {
  width: 54%;
  height: 100vh;
  background-color: black;
}
// .content-slider-container {
//   height: 90vh;
//   margin-top: 230px;
//   // width: 810px;
//   // height: 500px;
// }
.content-slider-container-next, .content-slider-container-current {
  height: 90vh;
  margin-top: 230px;
  // width: 810px;
  // height: 500px;
}
.content-slider {
  color: var(--white-color);
}
.content-slider-title {
  font-size: 34px;

  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 46px;
  padding-left: 40px;
}
.content-slider-text {
  width: 610px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  margin-right: 112px;
}
.content-slider-right {
  background-color: var(--black-color);
  height: 116vh;

  // box-shadow: -150px -1px 25px 1px rgba(0, 0, 0, 0.90);
  box-shadow: -150px -16px 19px 1px rgba(0, 0, 0, 0.99);
  z-index: 2;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    box-shadow: -150px -16px 19px 1px rgba(0, 0, 0, 0.99);
    height: 37%;
    width: 162px;
    z-index: -63;
  }
}
.content-wrapper {
  margin: 0 auto;
  padding-top: 137px;
}
.example,
.example {
  &::after {
    display: none;
  }
}
.line-wrapper {
  position: relative;
  height: 60px;
  left: 256px;
  top: -353px;
  z-index: 10;
}

.number-pogination {
  top: 20px;
  color: #8f8f8f;
}
.verical-line {
  height: 30px;
  width: 1px;
  background-color: #525254;
  content: "";
  position: absolute;
  left: 53%;
  top: 18px;
  // &::before {
  //   width: 1px;
  //   height: 30px;
  //   background-color: #525254;
  //   content: "";
  //   position: absolute;
  //   left: 36px;
  // }
  // &::after {
  //   width: 1px;
  //   height: 30px;
  //   background-color: #525254;
  //   content: "";
  //   position: absolute;
  //   left: 54px;
  // }
}
.verical-line1{
 left: 55%;
}
.verical-line2{
  left: 57%;
 }
 .verical-line3{
  left: 59%;
 }
 .verical-line4{
  left: 61%;
 }
 .line-wrapper-next{
  .verical-line2{
    left: 55%;
  }
  .verical-line3{
    left: 57%;
  }
  .verical-line4{
    left: 59%;
  }
 }
 .line-active{
   height: 50px;
 }
 .line-active-next{
  height: 50px;
 }
// .verical-line2 {
//   height: 43px;
//   width: 1px;
//   background-color: #525254;
//   content: "";
//   position: absolute;
//   left: 55%;
//   top: 17px;
// }
.line-text {
  position: absolute;
  left: 44%;
  top: 21px;
  font-family: "Nobel-ExtraLight";
  color: #a09e9e;
}
.img-icon-slider-content {
  width: 70px;
  height: 70px;
  margin-left: 24px;
}
.img-wrapper {
  // text-align: center;
  padding-top: 77px;
  margin-bottom: 40px;
}
.content-slider-right-next {
  .img-wrapper {
    padding-left: 220px;
    padding-top: 97px;
  }
}

.fire {
  width: 58px;
  margin-left: 243px;
}

.video-content {
  top: 0;
  width: 100%;
  position: absolute;
  font-family: "Yantramanav", sans-serif;
  color: #b9b9b9;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
}
.video-content-title {
  text-transform: uppercase;
  padding-top: 116px;
  padding-bottom: 34px;
  text-align: center;
  letter-spacing: 8px;
  font-size: 39px;
  font-weight: 300;
  font-family: "Yantramanav", sans-serif;
  color: var(--white-color);
}
.video-content-subtitle {
  text-align: center;
  line-height: 1.2;
  width: 690px;
  font-size: 24px;
  font-family: "Yantramanav", sans-serif;
  font-weight: 100;
}
.img-video-content {
  margin-top: 35px;
  width: 80px;
  height: 60px;
  text-align: center;
  margin-bottom: 50px;
}
.content-slider-right-next {
  box-shadow: -150px -10px 12px 1px rgba(0, 0, 0, 0.97);
}
.cleaning-info {
  font-family: "Yantramanav", sans-serif;
  position: relative;
  display: flex;
  height: 112vh;
  z-index: 10;
}
.cleaning-info-item {
  background-color: var(--black-color);
  img {
    height: 100vh;
  }
}
.cleaning-info-item-content {
  // width: 1444px;
  width: 40%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  //    padding-left: 170px;
  text-align: center;
  box-shadow: 17px 2px 10px 4px rgba(0, 0, 0, 0.97);
  position: relative;
}

.cleaning-info-title {
  font-size: 40px;
  letter-spacing: 12px;
  color: #dbdbdb;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 360px;
  margin-bottom: 70px;
  padding-left: 148px;
}

.cleaning-info-subtitle {
  color: #b7b7b7;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.2;
  padding-left: 142px;
}

.video-bg-footer{
  position: relative;
  height: 600px;
  width: 100%;
  overflow: hidden;
}

.video-footer{
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
 
}


.images-bg-item {
  max-width: 100%;
  height: auto;
}
footer {
  background-color: var(--black-color);
  width: 100%;
  position: relative;
  margin-top: -114px;
  z-index: 30;
}
.footer-content {
  position: relative;
  background-color: var(--black-color);
  height: 600px;
  color: #b2b2b2;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  margin: 0 auto;
}
.footer-top-title {
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 29px;
  margin-bottom: 8px;
  letter-spacing: 9px;
}
.footer-title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 11px;
}
.footer-sebtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 20px;
}
.svg-chip {
  width: 120px;
  height: 110px;
}
.content-button-prev,
.content-button-next {
  &::after {
    display: none;
  }
}
.content-button-prev,
.content-button-next {
  top: 32%;
}
.content-slider-right-next {
  .content-button-prev,
  .content-button-next {
    top: 28%;
  }
}
.content-button-next {
  right: 135px;
}
.img-arrows-content {
  width: 30px;
  height: 108px;
  fill: #606264;
}
//play video-click
.video-bg-hiden {
  display: none;
}
.video-bg-active {
  display: block;
}
.videoActive {
  z-index: 5;
  // position: absolute;
  // position: relative;
  position: fixed;
  width: 100%;
  height: 100%;
  /* height: 81%; */
  // height: 100vh;
}

.no-scroll {
  overflow: hidden;
}
//btn-close крестик
.btn-close {
  z-index: 60;
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: fixed;
  right: 0;
  margin-right: 30px;
  margin-top: 40px;
  background-color: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  &::before {
    position: absolute;
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--black-color);
    transform: rotate(45deg);
    top: 14px;
  }
  &::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: var(--black-color);
    transform: rotate(135deg);
    top: 14px;
  }
}
.video-wrapper {
}
.video-slider-content {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.video-test-cleaning {
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: 1;
}
.newVideo {
  position: relative;
  width: 100%;
  height: 100%;
}

.header-video-item {
  z-index: 50;
}
.header-video-active {
  z-index: 10;
}
.video {
  height: 100%;
}
.content-slider-section {
  height: 114vh;
}
.section-video-size {
  height: 110vh;
}
.slider-section-video {
  height: 112vh;
  &.content-slider {
    height: 100%;
  }
}
.slider--two {
  padding-top: 86px;
  .content-slider-title {
    font-family: "Yantramanav", sans-serif;
    font-size: 40px;
    letter-spacing: 11px;
    padding-left: 112px;
    margin-bottom: 57px;
  }
  .content-slider-text {
    width: 633px;
    font-family: "Yantramanav", sans-serif;
    font-weight: 100;
    font-size: 24px;
  }
}
//scroll page
.height{
  height: 660px!important;
}


//payment.html

.payment-wrapper{
  height: 100vh;
  overflow: hidden;
  font-family: var(--fYantramanav-font-family);
  color: #404040;
}
.payment-section{
  background-color:#EAEAEA;
  padding-bottom: 7px;
  // height: 100vh;
}
.payment-video{
  width: 95%;
  // height: 100%;
  // height: 540px;
}
.payment{
  background-color:#EAEAEA;
  .menu-list-link{
    color:#414141;
    font-weight: 700;
    
    &::before{
      background-color: var(--black-color);
    }
  }
  .header-wrapper{
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img-logo--payment{
  width: 40px;
  height: 45px;
}

.payment-logo-title{
  font-family: var(--fNobelRegular-font-family);
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing:10px;
 
  color: #373737;
}
.payment-logo-subtitle{
  font-family: var(--fHalisThin-font-family);
  font-weight: 700;
  margin-bottom: 80px;
  color: #777877;
  font-size: 20px;
}
.payment-logo-btn-wrapper{
  font-family: var(--fYantramanav-font-family);
  font-weight: 200;
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
  .btn-color{
    font-family: var(--fHalisThin-font-family);
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: #7D7D7C;
    width: 45px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &:before{
      content: '';
      position: absolute;
      width: 45px;
      height: 5px;
      background-color:var(--black-color);
      top: -30px;
      // left: -4px;
      }
      &:nth-of-type(2):before{
        background-color:var(--white-color);
      }
      &:nth-of-type(3):before{
        background-color:red;
      }
  
  }
  
}

//payment-video-bg
.payment-video-hiden{
  display: none;
}






.payment-logo-text{
  font-family: var(--fYantramanav-font-family);
  text-transform: uppercase;
  color: #828281;
  font-size: 12px;
}
.payment-cabinet{
  display: flex;
  // height:91vh;
  // overflow: hidden;
}

.payment-cabinet-item{
  position: relative;
  width: 50%;
}
.test-wrapper{
  position: relative;
}
.payment-logo{
text-align: center;
}
.payment-video-bg{
  position: relative;
  top: 20px;
}

.payment-bg{
  overflow: hidden;
}
.form-country{
  color: #393939;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 26px;
  font-weight: 300;
}
.form-title{
  font-size: 27px;
  text-transform: uppercase;
  color: #626262;
  font-weight: 300;
}
.form-price-country-title{
  
  margin-bottom: 28px;
}
.checked-wrapper{
  margin-bottom: 34px;
  border: 1px solid #999999;
  width: 450px;
  height: 52px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 23px;
  font-size: 23px;
  cursor: pointer;
}
//custom checkbox
/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid #adb5bd;
  border-radius:50%;
  // margin-left: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: var(--white-color);
  
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::after {
  border-color: #000000;
}



/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::after {
  border-color: #000000;
  background-color: #ffffff;
  background-image: url('../images/sprite.svg#black-circle');
  background-size: 74% 100%;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::after {
  background-color: #e9ecef;
}
.label-chacked{
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  font-weight: 300;
}

.form-price-country-text{
  padding-right: 110px;
  line-height: 1.3;
  font-size: 21px;
  margin-bottom: 30px;
}
//select
.select-country{
  width: 450px;
  height: 52px;
  font-size: 23px;
}
.select{
	display: block;
	font-size: 20px;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 450px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	// border-radius: .5em;

	appearance: none;
	background-color: rgb(253, 253, 253);
	// background: url('../images/sprite.svg#tr') no-repeat right;

  background: url('../images/trtest.png') no-repeat right;
  background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .99em auto, 100%;
  // background-size: 20% 20%;
  // linear-gradient(to bottom, #EAEAEA 0%,#EAEAEA 100%)
}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css option {
	font-weight:normal;
}
.country-select{
  margin-bottom: 111px;
}
.payment-price-title{
  font-size: 31px;
  margin-bottom: 5px;
}
.payment-price-sybtitle{
  font-size: 18px;
  margin-bottom: 157px;
}
.payment-price{
  display: flex;
  // justify-content: space-between;
}
.payment-price-value{
  font-size: 60px;
  font-weight: 400;
  position: relative;
}
.payment-item{
  margin-right: 155px;
  &:nth-of-type(2){
    margin-right: 0;
  }
}
.img-payment-dollar{
  width: 25px;
  height: 45px;
  margin-left: 6px;
}

.payment-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 9px 13px 9px; /* размер и форма */
  border-color: transparent transparent rgb(0, 0, 0) transparent; /* red — цвет */
  position: absolute;
  z-index: 22;
  right: -30px;
  top: 30px;
  font-size: 14px;
  transform: rotate(180deg);
}

.payment-item-scroll{
  overflow-y: scroll;
  height: 90vh;
  padding-right: 140px;
  padding-left: 75px;
  padding-top: 92px;
}
.input-adress{
  width: 725px;
  height: 52px;
  margin-bottom: 37px;
}
.form-title-delivery{
  margin-bottom: 57px;
}
.input-adress-item{
  margin-bottom: 32px;
  input{
    height: 52px;
  }
}
.input-adress-item-one{
  width: 200px;
  margin-right: 30px;
}
.input-adress-item-two{
  width: 120px;
  margin-right: 69px;
}
.input-adress-item-three{
  width: 90px;
}
.select-adress{
  width: 720px;
  margin-bottom: 33px;
}
.form-adress{
  margin-bottom: 70px;
  input{
    background-color: #EAEAEA;
    border: 1px solid #AAAAAA ;
    padding-left: 15px;
  }
}
.form-contact{
  input{
    width: 725px;
    height: 50px;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #EAEAEA;
    border: 1px solid #AAAAAA ;
    font-size: 20px;
  }
 
}
.form-contact-name{
  margin-bottom: 44px;
  input{
    margin-bottom: 15px;
    font-size: 20px;
  }
}
.form-contact-size{
  margin-bottom: 12px;
}
.form-title-contact{
  margin-bottom: 30px;
}
.contact-text{
  font-size: 21px;
  padding-right: 200px;
  line-height: 1.3;
}
.img-document{
  width: 40px;
  height: 50px;
}
.form-document{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 7px;
}
.form-document-item{
  display: flex;
  align-items: center;

}
.form-document-item-text{
  font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  font-size: 14px;
  margin-right: 10px;
  span{
    display: block;
  }
}
.form-privacy{
  position: relative;
  margin-bottom: 140px;
  .custom-checkbox+label::after{
    display: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #B2B2B2;
    border-radius:50%;
    // margin-left: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: var(--white-color);
    margin-right: 40px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  }
  /* стили при наведении курсора на checkbox */
  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #000000;
  }
  
  
  
  /* стили для чекбокса, находящегося в состоянии checked */
  .custom-checkbox:checked+label::before {
    border-color: #000000;
    background-color: #ffffff;
    background-image: url('../images/sprite.svg#black-circle');
    background-size: 74% 100%;
  }
  
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
  }
  .label-chacked{
    width: inherit;
  }
}
.form-privacy-checked{
  margin-bottom: 50px;
}
.img-visa{
  width: 232px;
  height: 60px;
}
.img-bitcoin{
  width: 150px;
  height: 40px;
}
.img-etherium{
  width: 160px;
  height: 60px;
}
.value{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.value-item-btn{
  width: 100%;
}
.btn-value{
  padding:10px 50px;
  cursor: pointer;
}
.form-subtitle{
  margin-bottom: 45px;
}
.value-item{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .label-chacked::before{
    margin-right: 0;
  }
}
.value-item-text{
  padding-top: 20px;
}
.label-payment{
  margin-top: 20px;
}
.payment-info{
  margin-bottom: 90px;
}
.payment-cabinet-item-line{
  position: relative;
  &::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 620px;
    background-color: #757575;
    right: 0;
    top: 37px;
  }

}
.payment-line-text{
  opacity: 0;

  position: absolute;
  top: 98px;
  right: 39px;
  color: #4C4A4A;
  // position: relative;
  &::before{
    content: '';
    position: absolute;
    width:30px;
    height: 2px;
    background-color: #868585;
    right: -39px;
    top: 8px;
  }
}
.active-step{
  opacity: 1;
}
.img-arrow-payment{
  width: 45px;
  height: 15px;
}
.payment-arrow{
  position: absolute;
  right: 0px;
  bottom: 157px;
  .scroll{
    transition: 1s;
    p{
      color: #4c4a4a;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      line-height: 1.5;
      padding-left: 8px;
    }
  }
  .img-scroll{
    fill:#4c4a4a ;
  }
}
.form-privacy-title{
  font-size: 40px;
}
.value-item-img{
  display: flex;
  align-items: center;
}
//slider-price-arrows
.prev-btn, .next-btn{
    &::after{
       display: none;
    }
}

//scroll anime
.scroll-section-anime{
  top: 90%;
}
.scroll-section-anime-video{
  top: 80%;
}
.scroll-section-anime-kaljan{
  top: 79%;
}
.scroll-section-anime-slider{
  top: 82%;
}
.scroll-section-anime-video-text{
  top: 91%;
}
.scroll-section-anime-footer{
  top: 85%;
}
.hiden-scroll{
  opacity: 0;
  transition: 1s;
}
.hiden-btn-video{
  opacity: 0;
}
.img-fullscreen-section{
  background-color:#ffffffab;
  bottom: 170px;
  fill:var(--black-color);
  height: 50px;
  padding: 2px;
  
}
.btn-play-wrapper-section{
  left: 20%;
}

.btn-play-wrapper-section2{
  top: 65%;
}
.btn-play-wrapper-section3{
  left: 20%;
  top: 42%;
}
.btn-play-wrapper-section4{
  left: 70%;
}




// .current-video-btn{
//   z-index: 5;
// }
.test-scroll{
  height: 100px;
  position: relative;
  top: 70px;
  // top: 360px;
}
.info-section{
  z-index: 5;
  transition:0.5s;
}
.info-section-active{
   margin-top: -286px;
  // top: -290px;
  transition: 1s;
}
.btn-play-wrapper-header{
  top: 53%;
}
@media(max-width:1800px){
    .content-button-prev{
      left: 0;
    }
    .content-button-next{
     right: 30px;
    }
    .content-slider-text{
      margin-right: 40px;
    }
}
@media(max-width:1700px){
  .cleaning-info-title{
    padding-left: 0;
    padding-top: 100px;
  }
  .cleaning-info-subtitle{
    padding-left: 10px;
  }
}
@media(max-width:1650px){
  .input-adress{
    width: 100%;
  }
  .form-contact input{
    width: 100%;
  }
  .payment-bg{
    max-width: 100%;
    height: auto;
    padding-right: 30px;
  }
  .payment-item-scroll{
    padding-right: 60px;
  }

}
@media(max-width:1500px){
  .content-slider-right {
    box-shadow: -65px -16px 19px 1px rgba(0, 0, 0, 0.99%);
  }
  .content-slider-text {
    font-size: 20px;
  }
  .content-slider-right{
    height: 100%;
  }
  .slider--two {
    .content-slider-text {
      font-size: 20px;
      width: 83%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    .content-slider-title{
      text-align: center;
      padding-left: 0 ;
      font-size: 30px;
    }
  }
  
  .content-slider-right{
    
    box-shadow: -65px -9px 32px 37px rgba(0, 0, 0, 0.99%);
    &::after{
      display: none;
    }
  }
  .payment-item{
    margin-right: 40px;
  }
  .payment-cabinet-item-line{
    &::before{
      height: 70%;
    }
  }
  .cleaning-info-item-content{
    width: 40%;
  }
  .cleaning-info-subtitle{
    padding-left: 30px;
  }
}
@media(max-width:1400px){
  .content-slider-section{
  height: 100vh;
  }
  .content-slider{
    height: 100vh;
  }
  .content-slider-container-next, .content-slider-container-current{
    height: 100%;
    margin-top: 0;
  }
  .content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content-button-next, .content-button-prev {
    top: 50%;
}
.info{
  justify-content: center;
  padding-top: 0;
  height: 400px;
 
}
.section-video{
  height: 100vh;
}
.line-wrapper{
  left: 160px;
}
.line-wrapper{
      /* top: -93px; */
      z-index: 26;
      left: 200px;
      height: 26vh;
      width: 91%;
      /* top: 4px; */
      top: -141px;
}
.line-text{
  left: 40%;
}
footer{
  margin-top: 0;
}
.input-adress-item-one{
  margin-right: 5px;
}
.input-adress-item-two{
  // width: 100%;
  margin-right: 5px;
}

}
@media (max-width: 1340px) {
  .header {
    background-position: right center;
  }
  .content-slider-text{
    
      margin: 0;
      padding-left: 40px;
      padding-right: 81px;
  }
  .line-text{
    left: 40%;
  }
  .content-slider-title{
    padding-left: 20px;
  }
  .value{
    flex-wrap: wrap;
    justify-content: center;
  }
  .checked-wrapper{
    width: 100%;
  }
}
@media(max-width:1300px){
  .buy-kaljan-container{
    width: initial;
  }
   
}
@media(max-width:1180px){
    .content-slider-title{
      font-size: 25px;
      padding: 0;
      text-align: center;
      
    }
    .content-slider-text{
      width: 83%;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
      padding: 10px;
    }
   
    .content-button-next {
      right: 8px;
  }
  .fire{
    margin: 0;
  }
  .img-wrapper{
    text-align: center;
    padding-top: 90px;
  }
  .line-wrapper{
    left: 0;
  }
  .payment-price-value{
    font-size: 50px;
  }
  .form-price-country-text{
    padding-right: 0px;
  }
  .payment-item-scroll{
    padding-right: 30px;
    padding-left: 40px;
  }
  .contact-text{
    padding: 0;
    margin-bottom: 20px;
  }
  .form-document{
    margin-bottom: 30px;
  }
  .payment-price-sybtitle{
    margin-bottom: 70px;
  }
  .payment-line-text{
    right: 20px;
    bottom: 200px;
  }
  .payment-line-text::before {
    width: 17px;
    height: 2px;
    right: -19px;
    top: 8px;
}

}
@media(max-width:1024px){
    .info{
      height: 370px;
    }
    .content-slider-right{
      box-shadow: -25px -9px 32px 37px rgba(0, 0, 0, 0.99%);
    }
    .payment-item{
      margin-right: 20px;
    }
    .country-select{
      margin-bottom: 65px;
    }
    .payment-item-scroll{
      padding-top: 30px;
    }
    .payment-price-title{
      font-size: 26px;
    }
    .img-payment-dollar {
      width: 25px;
      height: 30px;
      margin-left: -10px;
  }
  .input-adress-item-one{
    width: 43%;
  }
  .input-adress-item-two{
    width: 25%;
  }
  .payment-logo-subtitle{
    margin-bottom: 40px;
  }
  .form-privacy{
    margin-bottom: 50px;
  }
  .payment-price{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 45px;
  }
  .payment-price-sybtitle{
    margin-bottom: 10px;
  }
  .input-adress-item{
    margin-bottom: 15px;
    input{
      margin-bottom: 10px;
    }
  }
  .input-adress{
    margin-bottom: 15px;
  }
  .select-adress{
    margin-bottom: 15px;
  }
  .input-adress-item-three{
    width: 25%;
  }
  .payment-logo{
    margin-bottom: 18px;
  }
}
@media (max-width: 950px) {
  .menu-list-link {
    margin-right: 0;
    font-size: 18px;
  }
  nav {
    width: 100%;
  }
  .menu-list {
    justify-content: space-between;
  }
  .logo-link {
    margin-right: 10px;
  }
  .img-logo {
    width: 40px;
  }
  .header-wrapper {
    align-items: center;
    padding-top: 0px;
  }
}
@media(max-width:880px){
  .kaljan-slider p{
    font-size: 15px;
    z-index: 2;
  }
  .text-right{
    right: 340px;
  }
  .buy-kaljan-button-next{
    right: 155px;
  }
  .text-left{
    left: 80px;
  }
  .buy-kaljan-button-prev {
    left: 157px;
}
.buy-kaljan-subtitle {
  width: 550px;
margin-bottom: 50px;
 
}
.content-slider-title{
  font-size: 20px;
}
.line-text{
  left: 35%;
}
.number-pogination{
  left: -10px;
}
}
@media (max-width: 820px) {
  .menu-list-link {
    font-size: 16px;
  }
  .header-title {
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 19px;
    }
  }
  
}
@media(max-width:768px){
  .content-slider-title{
    font-size: 19px;
  }
  // .content-slider-section{
  //   height: 80vh;
  // }

.line-wrapper{
  top: -194px;
}
.content-slider, .content-slider-section{
  height: initial;
}
.content-button-next, .content-button-prev{
 top: 35% !important;;
}
.line-text {
  left: 30%;
}
.footer-content{
  height: 430px;
}
.video-content-title{
  font-size: 30px;
}
.video-content-subtitle{
  font-size: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.payment-arrow{
  bottom: 65px;
}
.payment .header-wrapper{
  padding-bottom: 5px;
}
.cleaning-info-title{
  padding-top: 25px;
}
}
@import "fonts";
